@model AccountBook.Models.PaymentHeader

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PaymentHeader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PaymentName" class="control-label"></label>
                <input asp-for="PaymentName" class="form-control" />
                <span asp-validation-for="PaymentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMonth" class="control-label"></label>
                <input asp-for="PaymentMonth" class="form-control" />
                <span asp-validation-for="PaymentMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActuialPaymentMonth" class="control-label"></label>
                <input asp-for="ActuialPaymentMonth" class="form-control" />
                <span asp-validation-for="ActuialPaymentMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCreatedDate" class="control-label"></label>
                <input asp-for="DataCreatedDate" class="form-control" />
                <span asp-validation-for="DataCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataUpdateDate" class="control-label"></label>
                <input asp-for="DataUpdateDate" class="form-control" />
                <span asp-validation-for="DataUpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <input asp-for="Memo" class="form-control" />
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyAmount" class="control-label"></label>
                <input asp-for="MoneyAmount" class="form-control" />
                <span asp-validation-for="MoneyAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
